/* Reset styli */
* {
    margin: 0;
    padding: 0;
    border: 0;
    line-height: 1.4em;
    vertical-align: baseline;
    text-decoration: none;
    outline: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.0em;
    overflow-x: hidden; 
    }

/* Core styles */
/* Header */
header {
    text-align: center;
    height: 100vh;
}
header .bg {    
    background: #000000 url(bg.jpg);    
    background-size: cover;
    position: absolute;
    background-repeat: no-repeat;    
    background-position: center;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    opacity: .8;
    box-shadow: inset 1px 5px 50px 1px rgb(61, 61, 61);
    background-attachment: fixed;
}
header h1 {
    color: #ffe155;
    padding-top: 100px;
    font-size: 5rem; 
    text-shadow: -17px 15px 8px rgba(138,123,123,0.57);
}

header p {
    margin-top: 50px;
    font-size: 2rem;
    color: white;
    text-shadow: 8px 10px 3px rgba(138,123,123,0.57)
}
#strzalka-header {
    display: none;
}
/* Main */

/*Section A*/
#section-a {
    background-image: linear-gradient(to right bottom, #6c9bf4, #8491f7, #9f84f4, #bb74eb, #d660dc);;
    min-height: 99vh;
    text-align: center;
    border: solid 1px white;

}
#section-a ul{
    list-style: none;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    flex-wrap: wrap-reverse;
}
#section-a input {
    width: 100px;
    padding: 0 5px;
    height: 30px;
}
#section-a button {
    height: 30px;
    width: 100px;
}
#section-a button:hover {
    background-color: honeydew;
    color: indianred;
}
li img {
    width: 30px;
    height: 30px;
    padding: 0 5px;
    margin: 10px 3px 10px 3px;
    vertical-align: bottom;
}

li img:hover {
    background-color: indianred;
}
#section-a h2 {
    padding-top: 200px;
    padding-bottom: 20px;
    text-align: center;
    font-size: 2em;
}

#section-a li {
    flex: 0 0 auto;
    text-decoration: none;
}

#strzalka-sekcja-a {
    display: none;
}
/* Section B*/
#section-b {    
    height: 100vh;
}

#notForMobile {
    display: none;
}
#notForMobile2{
    display: none;
}
#section-b img {
    height: 50px;
    width: 50px;
    margin: 70px 40% 30px;
}

#section-b p {
    color: rgb(255, 255, 255);
    background: rgba(0,0,0,0.4);
    text-align: center;
    font-size: 1.4rem;
}
#section-b .bg-club {
    background:  url(bg-club.jpg);    
    background-size: cover;
    position: absolute;
    background-repeat: no-repeat;    
    background-position: center;
    width: 100%;
    height: 100vh;
    z-index: -1;
    opacity: 0.7;
    box-shadow: inset 1px 5px 50px 1px rgb(61, 61, 61);
    background-attachment: fixed;
}
/* Section C*/
#section-c {
    background-image: linear-gradient(to bottom, #d660dc, #f066c3, #fd74af, #ff87a1, #ff9b9b);
    min-height: 600px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#section-c h2 {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    font-size: 4em;
    color: #ffe155;
}

.gallery div {
    width: 200px;
    margin: 10px;
    padding: 0;
}

.gallery img {
    background-size: cover;
    width: 200px;
    max-height: 250px;
    padding: 0;
    -webkit-box-shadow: -7px 7px 58px -3px rgba(102,102,102,0.55);
    -moz-box-shadow: -7px 7px 58px -3px rgba(102,102,102,0.55);
    box-shadow: -7px 7px 58px -3px rgba(102,102,102,0.55);    
}

/* Section D*/
#section-d {
    background-image: linear-gradient(to bottom, #ff9b9b, #fca4c2, #ecb3e2, #d6c3f6, #c2d2ff);
}

#section-d p {
    margin: 0;
}
iframe {
    margin: 50px 0 50px;
}
/* Section E*/
#section-e {
    background-image: linear-gradient(to bottom, #c2d2ff, #fac5ff, #ffb7d1, #ffc08a, #ffe155);
}
/* Footer*/
#footer-main {
    background-color: black;
    color: #ffe155;
    text-align: center;
}
ul {
    list-style: none;
    text-align: center;
    margin-top: 0;
    margin-bottom: 50px;
}
.content-wrap  { 
    justify-self: center;
    justify-items: center;
    justify-self: center;
    text-align: center;
}

#loga { 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.box img {
    height: 100px;
    width: 100px;
    margin: 10px 15px;
}


/* Arrow */
/* ----------------------------------------------
 * Generated by Animista on 2019-10-29 21:57:58
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-top
 * ----------------------------------------
 */

 @-webkit-keyframes slide-top {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(50px);
              transform: translateY(50px);
    }
  }
  @keyframes slide-top {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(50px);
              transform: translateY(50px);
    }
  }
  
 #header img, .strzalka img {
    margin-top: 150px;
    width: 100px;
    height: 100px;
    fill: white;
    -webkit-animation: slide-top 1.2s linear both;
    animation: slide-top 1.2s linear both;animation-iteration-count:infinite;
}

#strzalka {
    text-align: center;
    width: 100px;
    height: 100px;
}

/* MEDIA QUERY */ 

@media (max-device-aspect-ratio: 3/4) {
    height: calc(100vw * 1.333 - 9%);
  }
  @media (max-device-aspect-ratio: 2/3) {
    height: calc(100vw * 1.5 - 9%);
  }
  @media (max-device-aspect-ratio: 10/16) {
    height: calc(100vw * 1.6 - 9%);
  }
  @media (max-device-aspect-ratio: 9/16) {
    height: calc(100vw * 1.778 - 9%);
  }

  @media (min-width: 700px) {
    #strzalka-header {
        display: inline-block;        
        overflow-x: visible;
    }
    #strzalka-sekcja-a {
        display: inline-block;        
        overflow-x: visible;
    }
    #notForMobile {
        display: inline-block;
    }
    #notForMobile2{
        display: inline-block;
        background-color: none;
    }
    #section-b {
        background-color: rgba(0,0,0,0.6);
    }
    #section-b p {
        background: none;
    }
    iframe {
        width: 700px;
    }
  }